@import "/home/sohan/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    outline: none;
}

window {
    background-color: @background;
    color: @foreground;
    border: none;
    border-radius: 1px;
}

#scroll {
    margin: 6px 4px;
}

.entry {
    padding: 10px 16px;
    margin: 1px 0;
    border-radius: 6px;
    background-color: transparent;
    color: @foreground;
}

.entry:selected,
row:selected,
row:selected > * {
    background-color: transparent !important;
    color: @foreground !important;
    box-shadow: none !important;
}
