@import "/home/sohan/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    outline: none;
}

window {
    background-color: alpha(@color0, 0.90);
    color: @foreground;
    border: 2px solid @color1;
    border-radius: 12px;
}

#outer-box {
    padding: 8px;
    background: transparent;
}

#inner-box {
    background: transparent;
    padding: 4px;
}

#scroll {
    background: transparent;
    margin: 6px 4px;
}

#text {
    color: @foreground;
    padding: 4px 8px;
}

#entry {
    background: transparent;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 2px 4px;
}

#entry:selected,
#entry:focus,
#entry:hover {
    background-color: alpha(@color1, 0.30);
    border-left: 3px solid @color1;
}

#entry:selected #text,
#entry:focus #text,
#entry:hover #text {
    color: @color4;
    font-weight: bold;
}

.entry:selected,
.entry:focus,
.entry:hover,
row:selected,
row:selected > *,
row:focus,
button:selected,
button:focus {
    background-color: @color5 !important;
    color: @background !important;
    box-shadow: none !important;
    outline: none !important;
}
